/* Your application styles go here */
/*.path {
  stroke-dasharray: 1980 100000 ; 
  animation: dash 8s linear forwards;
  stroke-dasharray: 1980 100000 ; 
  -webkit-animation: dash 8s linear forwards;
}  
   
@keyframes dash { 
  from{
    stroke-dashoffset: -7000;
  } 
  to{
    stroke-dashoffset: 170;
  }
} 
@-webkit-keyframes  dash { 
  from{
    stroke-dashoffset: -7000;
  } 
  to{
    stroke-dashoffset: 170;
  }
} */