<ion-view title="{{name}}">

  	<!-- <ion-nav-bar class="cm_header">
          <ion-nav-back-button class="button-icon ion-arrow-left-c">
          </ion-nav-back-button>
          <button class="button button-positive " ng-click="gotoModify()" >
		<i class="icon ion-compose"></i> 修改/结账 - 当前已点<span class="badge badge-royal">{{totaldish}}</span>个菜品
	  </button>
    </ion-nav-bar> -->

    <ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  <h1 class="title">Title!</h1>
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
</ion-header-bar>

	<div class="bar bar-loading bar-cmblue" >
      <i class="icon ion-ios7-heart"></i> 税前菜金满30起送哦亲
    </div>
  <ion-content class="has-loading hide_tabs" delegate-handle="order_menu_scroll">

	  <div class="list">
      	<div ng-repeat="dstype in menu">

      		<div class="item item-button-right item-icon-right item-divider" ng-click="open_dstype(dstype)">
		          {{dstype.name}}
		          <i class="icon ion-ios7-arrow-right" ng-show="!dstype.open"></i>
		          <i class="icon ion-ios7-arrow-down" ng-show="dstype.open"></i>
		    </div>

		    <a 	class="item item-button-right item-icon-right" 
		    	ng-repeat="dish in dstype.dishes" 
		    	ng-show="dstype.open"
		    	ng-show="!dstype.status && open==1"
		    	ng-click="order({{dish.ds_id}}, '{{dish.int_no}}', '{{dish.ds_name}}',{{dish.price}}  )">
      			<h3>  {{dish.ds_name}}
      				<span class="item-note"> $ {{dish.price}}  </span>
				</h3> 
      			<!-- 
					{{dish.int_no}} -


      			<button class="button button-clear button-positive" ng-show="!dstype.status && open==1"  ng-click="order({{dish.ds_id}}, '{{dish.int_no}}', '{{dish.ds_name}}',{{dish.price}}  )">
			      	点餐
			    </button>
			     -->
      		<!-- 	<button class="button button-clear button-positive" ng-show="dstype.status" >
			      	今日售完
			    </button>	 -->	

      		</a> 
      				    <a 	class="item item-button-right item-icon-right" 
      				    	ng-repeat="dish in dstype.dishes" 
      				    	ng-show="dstype.open"
      				    	ng-show="dstype.status" 
      				    	>
      		      			<h3>  {{dish.ds_name}}
      		      				<span class="item-note"> $ {{dish.price}}  </span>
      						</h3> 
      		      			<!-- 
      							{{dish.int_no}} -


      		      			<button class="button button-clear button-positive" ng-show="!dstype.status && open==1"  ng-click="order({{dish.ds_id}}, '{{dish.int_no}}', '{{dish.ds_name}}',{{dish.price}}  )">
      					      	点餐
      					    </button>
      					     -->
      		      		<!-- 	<button class="button button-clear button-positive" ng-show="dstype.status" >
      					      	今日售完
      					    </button>	 -->	

      		      		</a> 


		</div>

		<button class="button button-full button-light button-clear button-small">
		</button>		

      </div>  

  </ion-content>
  	<div class="tabs">
    	<a class="tab-item">
      		Home
    	</a>
    	<a class="tab-item">
      		<button class="button" ng-click="gotoModify()">
               修改/结账 - 当前已点<span class="badge badge-royal">{{totaldish}}</span>个菜品
         	</button>
    	</a>
  </div>
  
  <!-- <ion-footer-bar class="bar bar-positive "  align-title="left" ng-show="open==1"> -->
  <!--   align-title="left" class="bar-cmblue"
  	<h1 class="title "><button class="button button-clear button-positive " ng-click="gotoCheckout()"><i class="icon ion-compose"></i> 修改/结账</button></h1> -->
	  <!-- <h1 class="title "  ></h1>
	  		<div class="button button-cmwarning " ng-click="gotoModify()"><i class="icon ion-compose"></i> 修改/结账 - 	
	  			当前已点<span class="badge badge-royal">{{totaldish}}</span>个菜品
	  		</div> -->
	 
  <!-- </ion-footer-bar> -->
  
  <ion-footer-bar class="bar bar-assertive "  align-title="left" ng-if="open==0">
	  <button class="button button-assertive " >
		该餐厅当前尚未营业，先去看看别家吧
	  </button>
  </ion-footer-bar>

</ion-view>


<script id="order-menu-modal.html" type="text/ng-template">
  <div class="modal">
    <header class="bar bar-header">
      <h1 class="title"></h1>
    </header>
    <ion-content has-header="true" padding="true">
        <div class="card">
		  <div class="item item-divider">
		     	{{int_no}} - {{ds_name}}
		  </div>
		  <div class="item item-text-wrap">
			  <button class="button button-clear button-large button-positive icon ion-ios7-minus-outline"   ng-click="amountRemove()">
			  </button>
			  <button class="button button-outline button-positive">
			  来 {{amount}} 份
			  </button>
			  <button class="button button-clear button-large button-positive icon ion-ios7-plus-outline"  ng-click="amountAdd()">
			  </button>
		  </div>
          
          <button class="button button-full button-positive" ng-click="dishAdd(ds_id, amount, int_no, ds_name, price)">确认添加</button>
          <button class="button button-full button-cmwarning" ng-click="closeModal()">取消</button>
        </div>
    </ion-content>
  </div>
</script>