<ion-view title="{{name}}">
  <div class="bar bar-subheader title">
  
  <div class="h1 title"></div>
 <button class="button icon-right ion-ios7-paperplane button-calm">当前已点<span class="badge badge-royal">{{totaldish}}</span>个菜品 - 修改/结账 </button>
</div>
  <ion-content has-header="true" has-subheader="true" has-tabs="false" >

	  <div class="list">
      	<div ng-repeat="dstype in menu">

      		<div class="item item-button-right item-icon-right item-divider" ng-click='dstype.open = !dstype.open'>
		          {{dstype.name}}
		          <i class="icon ion-ios7-arrow-right" ng-if="!dstype.open"></i>
		          <i class="icon ion-ios7-arrow-down" ng-if="dstype.open"></i>
		    </div>
		    	<!-- {{dish.int_no}} -  -->
		    <a class="item item-button-right item-icon-right" ng-repeat="dish in dstype.dishes" ng-if="dstype.open">
      			<h4> {{dish.ds_name}}
      				<span class="item-note"> $ {{dish.price}}  </span>
				</h4> 
      			<button class="button button-clear button-positive" ng-if="!dstype.status"  ng-click="order({{dish.ds_id}}, '{{dish.ds_name}}' )">
			      	点餐
			    </button>
      			<button class="button button-clear button-positive" ng-if="dstype.status" >
			      	今日售完
			    </button>
      		</a> 

		</div>
      </div>  

  </ion-content>
</ion-view>


<!-- 
	<script id="order-menu-modal.html" type="text/ng-template">
  <div class="modal">
    <header class="bar bar-header bar-positive">
      <h1 class="title"></h1>
    </header>
    <ion-content has-header="true" padding="true">
        <div class="card">
		  <div class="item item-divider">
		     	{{ds_name}}
		  </div>
		  <div class="item item-text-wrap">
			  <button class="button button-clear button-positive" ng-if="amount>0"  ng-click="amount=amount+1' )">
				      	加
			  </button>
			  {{amount}}
			   <button class="button button-clear button-positive" ng-if="amount<10"  ng-click="amount=amount-1' )">
				      	减
			  </button>
		  </div>

          <button class="button button-full button-energized" ng-click="closeModal()">取消</button>
          <button class="button button-full button-calm" ng-click="dishAdd(ds_id,amount)">确认添加</button>
        </div>
    </ion-content>
  </div>
</script> -->