.banner_radius{
	width:100%;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.restaruant_name{
	font-size: 30px;
    font-weight: 600;
}
.restaurant_description{
	margin-top: 8px;
	font-size: 16px;
}
.restaurant_hour{

}
.min_order{

}
.menu_list{
	position: relative;
	padding-top: 0px;
	padding-bottom: 1px;
	padding-left: 0;
	margin-bottom: 0px;
}
.checkout_bar{
	top:0px;
}
.restaurant{
	top:44px;
}


.nav-scroller {
  	overflow: scroll;
  	white-space: nowrap;
  	overflow-y: hidden;
	/*use height to hide scrool bar*/
  	height: 100px;
    /*position: absolute;*/
    left: 0;
   
}
.nav_tabs{
  position: absolute;
      bottom: 0;
      z-index: 5;
      width: 100%;
      height: 49px;
      border-style: solid;
      border-top-width: 1px;
      background-size: 0;
      line-height: 49px;
      background: #ffffff;
      border-color: #ffffff;
}
.nav{
  	width:14%;
  	height:100%;
    font-size: 14px;
    margin-left: 10px;
  	/*display div in a line*/
  	display:inline;

}
.nav_color{
	color:  #f8a226;
}

.check_out_box {
	text-align:center;margin-top: 10px;	
}
.nav_btn {
    position: absolute;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 0px;
    left: 5px;
    height: 41px;
    top: 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-color: #f8a226;

}
