.banner_radius{
	width:100%;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.restaruant_name{
	font-size: 30px;
    font-weight: 600;
}
.restaurant_description{
	margin-top: 8px;
	font-size: 16px;
}
.restaurant_hour{

}
.min_order{

}
.menu_list{
	position: relative;
	padding-top: 0px;
	padding-bottom: 1px;
	padding-left: 0;
	margin-bottom: 0px;
}
.checkout_bar{
	top:0px;
}
.restaurant{
	top:44px;
}


.nav-scroller {
  	overflow: scroll;
  	white-space: nowrap;
  	overflow-y: hidden;
	/*use height to hide scrool bar*/
  	height: 100px;
    /*position: absolute;*/
    left: 0;
   
}
.nav_tabs{
  position: absolute;
      bottom: 0;
      z-index: 5;
      width: 100%;
      height: 49px;
      border-style: solid;
      border-top-width: 1px;
      background-size: 0;
      line-height: 49px;
      background: #ffffff;
      border-color: #ffffff;
}
.nav{
  	width:14%;
  	height:100%;
    font-size: 14px;
    margin-left: 10px;
  	/*display div in a line*/
  	display:inline;

}
.nav_color{
	color:  #f8a226;
}

.check_out_box {
	text-align:center;margin-top: 10px;	
}
.nav_btn {
    position: absolute;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 0px;
    left: 5px;
    height: 41px;
    top: 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-color: #f8a226;

}

.recommend{
    background-image: url(../img/recommend.png);
    background-size: 100% 100%;
    background-position: center; 
}

.recommend .restaurant_img{
  width: 100%;
  border-radius: 12px;
  height: auto;
  margin-top: 5%;
  border-color: #33ADE4;
  border-style: solid;
  border-width: 3px;
}
.restaurant_box {}
.restaurant_box .restaurant_img{
  width: 100%;
  border-radius: 12px;
  margin-top: 5%;
}
.promotion{
  position: absolute;
  right: 2vw;
  top: 0.8vw;
  max-height: 4.6vw;
}

.promotion img{
  width: auto;
  height: 100%;

}
.promotion .dec{
  position: relative;
  bottom: 0.8vw;
  color: #d9553f;
  font-weight: 700;
}
.menu_subheader{
  height: 25px;
  text-align: left;
  background-color: #d9553f;
  padding-left: 16px;
}
.menu_subheader img{
  width: 16px;
}
.menu_subheader .notice{
    position: relative;
    font-size: 12px;
    margin-left: 3px;
    font-weight: 800;
    color: #fff;
    bottom: 3px;
}
.menu_subheader .label{
  right: 9%;
  position: absolute;
 /* width: 80px;       斜
  height: 132px;*/ 
  width: 36.4px;
  height: 80px;
  top: -11px;
  text-align: center;
  background-image: url("../img/discount-label-02.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 11px;
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg);
}
.item-divider img{
  position: relative;
  top: 5px;
}
.has_menu_subheader{
  top: 69px;
}
.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .has_menu_subheader {
    top: 89px;
}


