<ion-view title="我的地址" cache-view="true">
    <ion-header-bar frosted-bar class="bar-frosted ">
        <div class="buttons button_on_blur ">
          <button class="button    button-clear button-cm-blue" ng-click="go_back()"><_<</button>
        </div>
          <h1 class="title">搜索地址</h1>
    </ion-header-bar>
    <ion-content  class="has-header hide_tabs " >
              <search-address sytle="width:100%"
                              page="menu">
              </search-address>
    </ion-content>
</ion-view>
