<ion-view title="点餐" >
	<ion-header-bar frosted-bar class="bar-frosted">
	   <h1 class="title">点餐</h1>
	</ion-header-bar>

	<ion-content class="has-header hide_tabs" delegate-handle="order_scroll" >
		<ion-refresher
			on-refresh="rrlist_refresh(pull)">
		</ion-refresher>

	 	<div id="restaurant" class="list">
			<a class="item "
				href="#/tab/order/menu/{{rr.rid}}"
				ng-repeat="rr in restaurant_open.rrs"
				ng-click="gotoRR({{rr.rid}})"
				style="
					padding: 4px 0px;
					background-color: rgba(0, 0, 0, 0);
					border: none;
					height:300px;
					overflow:hidden;
					width: 95%;
					margin: 0 auto;
				"
				>
				<!-- <div ng-class="{recommend:rr.watermark == 1}" class="restaurant_box"> -->

					<img class="restaurant_img"
							 ng-src="{{rr.mob_banner}}"
							 alt="">
					<!-- <div class="promotion">
						<img ng-if="rr.watermark == 1" src="img/minus.png" alt="">
						<img ng-if="rr.watermark !== 1" src="img/discount.png" alt="">
						<span class="dec" ng-if="rr.watermark !== 1">全店20%Off</span>
						<span class="dec" ng-if="rr.watermark == 1">全店满$100减$50</span>
					</div> -->
					<div style="background-color: #ffffff;
									    padding: 8px;
									    position: absolute;
									    bottom: 0;
									    width: 100%;">
											{{rr.name}}
											<div style="font-size: 14px;color: #ababb0;">
												{{rr.desc}}
											</div>



           </div>
				<!-- </div> -->

				<!-- <div ng-if="rr.watermark == 1"class="button button-small button-orange  rr_recommend" >推荐商家</div> -->

				<!-- prommotion -->
				<div ng-if="rr.promotion.type  == 3"class="button button-small button-orange  rr_recommend" >{{rr.promotion.desc}}</div>
				<!-- ui  for prommotion -->
				<!-- <div class="button button-small button-orange  rr_recommend" >全店20%折扣</div> -->

			</a>
			<div>
				<a class="item "
					href="#/tab/order/menu/{{rr.rid}}"
					ng-repeat="rr in restaurant_close.rrs"
					ng-click="gotoRR({{rr.rid}})"
					style="
						padding: 0px;*/;
						border-color: #FFF;
						border-bottom-width: 3px;
						text-align: center;
						background-color: rgba(0, 0, 0, 0);
						height:108px;
    					background-position: center;
					"
					>
					<img ng-src="{{restaurant_close.img_url + rr.rid}}.jpg"
						 style="width: 100%;
						        border-radius: 12px;
						 		 		height: auto;
						        padding: 2.4px;"  alt="">
					<div class="button button-small button-blue rr_close" >店家休息啦</div>
				</a>

			</div>

	  	</div>
	  	<br><br><br>
	</ion-content>
</ion-view>
