<ion-view >
  
   <ion-header-bar frosted-bar class="bar-frosted">
        <div class="buttons button_on_blur ">
            <button class="button   button-clear button-cm-blue" ng-click="go_back()"><_<</button>
        </div>
        <h1 class="title">点餐</h1>
        <div class="buttons button_on_blur ">
            <a class="button   button-outline button-cm-blue" href="#/tab/order/add_address">添加新地址</a>
        </div>
    </ion-header-bar>

<!--   	<div class="bar bar-loading bar-cmblue" >
      <i class="icon ion-ios7-heart"></i> 税前菜金满30起送哦亲
    </div> -->
  <ion-content class=" has-header hide_tabs">

	<div class="list">
		<div class="item item-divider">
			 已点菜品
		</div>
       	<div ng-repeat="dish in dishes"  ng-if="dish.amount>0">

		  	<div class="item item-complex">
			  	<span class="button button-clear  button-blue" style="font-size: 15px;"> 
			  	 <!-- ng-click="dishModify(dish.ds_id, dish.int_no, dish.ds_name, dish.amount)"> -->
				   	{{$index+1}}. {{dish.ds_name}} — {{dish.amount}} 份
			  	</span>
		 	 </div>
		</div>
		

		<div class="item item-input item-select "> <!-- 选择地址 -->
		    <div class="input-label"style="width: 15%;">
		     	地址:
		    </div>
		    <select name="uaidslect" 
                    id="uaidslect" 
                    ng-model="addr" 
                    ng-change="uaidChange(addr)"
                    style="max-width: 82%;"
                    ng-focus="select_focus()"
                    ng-blur="select_blur()">
	          	<option ng-repeat="addr in address"  value="{{addr}}">
		          	{{ addr.addr }} 
	          	</option>
		    </select>
		</div>
		<div class="item item-text-wrap" ng-if="selected_addr"><!-- 已选地址 -->
			    {{selected_addr.name}} - {{selected_addr.tel}}
			    </br>
			    {{selected_addr.addr}}
		</div> <!-- 选择地址结束 -->


		<!-- <ion-radio  name="uaidradio" 
		ng-repeat="addr in address" ng-value="addr.uaid"
                   ng-model="uaid" ng-change="uaidChange(addr)"  >
        			{{ addr.name }} - {{ addr.tel }} <br> {{ addr.addr }} 
        </ion-radio> -->
		<div class="item item-input item-select"><!-- 选择配送方式 -->
		    <div class="input-label"style="width: 15%;">
		     	配送方式:
		    </div>
		    <select name="uaidslect" 
    				id="uaidslect"
    	      		ng-options="delitype.value as delitype.name for delitype in select.delitypes "
    	      		ng-model="select.selected_dltype"
    	      		ng-change="dltypeChange()"
    	      		style="max-width: 82%;"
                    ng-focus="select_focus()"
                    ng-blur="select_blur()">
		    </select>
		</div>
		
<!-- 
			
				
		<div class="item item-divider">
			 请选取配送方式
		</div>			
		<ion-radio  name="dltyperadio" 
					ng-repeat="delitype in delitypes" 
					ng-value="delitype.value"
                   	ng-model="dltype" 
                   	ng-change="dltypeChange(delitype)"  >
          			{{ delitype.name }}  
        </ion-radio> -->
        
        

		<div class="item item-divider">
			 税前菜金: {{totalpre | currency}}
		</div>
		<div class="item item-divider">
			 运费: {{dlexp | currency}}
		</div>	
		<div class="item item-divider">
			 总价格: {{dlexp+(totalpre*1.13) | currency}}
		</div>	
		<div class="item item-divider">
			 还有什么要嘱咐的:
		
			<textarea ng-model="$parent.comment" style="width: 100%;" rows="5" placeholder="有什么特别要嘱咐的？辣度？葱姜蒜香菜？">
	
			</textarea>
		</div>


		<button class="button  button-block button-blue" ng-if="uaid == null ">在上面选取地址后才可下单</button>

	    <button class="button  button-block button-blue" ng-if="uaid != null " ng-click="orderCheckout()">下单结账</button>
	    <!-- <a class="button button-full button-cmwarning" href="#/tab/ordermenu">返回</a> -->
        <p style="padding: 19px;">*以上费用均未含小费,如果司机小哥的服务您还满意,请给小哥一点小费吧,小哥送外卖也是很辛苦嗒,馋猫君带各位小哥谢谢客官啦～ 祝您用餐愉快～ </p>
        
        
     </div>  

  </ion-content>
</ion-view>

<!-- <script id="order-checkout-modal.html" type="text/ng-template">
  <div class="modal">
    <header class="bar bar-header bar-chanmao">
      <h1 class="title"></h1>
    </header>
    <ion-content has-header="true" padding="true">
        <div class="card">
		  <div class="item item-divider">
		     	{{ds_name}}
		  </div>
		  <div class="item item-text-wrap">
			  <button class="button button-clear button-positive icon ion-ios7-minus-outline"   ng-click="amountRemove()">
			  </button>
			  <button class="button button-outline button-positive">
			  改成 {{amount}} 份
			  </button>
			  <button class="button button-clear button-positive icon ion-ios7-plus-outline"  ng-click="amountAdd()">
			  </button>
		  </div>
          
          <button class="button button-full button-calm" ng-click="dishChange(ds_id, amount)">修改</button>
          <button class="button button-full button-calm" ng-click="dishDelete(ds_id)">不要了</button>
          <button class="button button-full button-energized" ng-click="closeModal()">关闭</button>
        </div>
    </ion-content>
  </div>
</script> -->