<div class="modal">
    <ion-header-bar>
        <div class="buttons">
          <button class="button button-clear button-calm" ng-click="close_confirm_order()">返回美食清单</button>
        </div>
        <h1 class="title">美食清单</h1>
    </ion-header-bar>
    <ion-content>
        <div ng-repeat="dish in  hc.confirm_dish">        
            <ion-item  
                class=" item-thumbnail-left item-button-right"
                ng-if="dish.quantity >0" 
                on-tap="hc.add_dish(dish.menu_dish)"
                >
                
                <img src="http://lorempixel.com/250/250/?q=2">
                <h2>{{dish.ds_name}}</h2>
                <p>{{dish.dish_price | currency}}</p>
                <h2 ng-if="dish.quantity >0">数量:{{dish.quantity}}</h2>
                
                <button class="button button-calm button-outline"
                        ng-if="dish.quantity >0"
                        on-tap="hc.dec_dish(dish.menu_dish) "
                        style="top: 30px;font-size: 35px;height: 38px;"
                        >
                -   
                </button>
            </ion-item >

          
        </div>
        <div class="check_out_box">
            <button class="button button-calm button-outline"ng-click="hc.check_out()">
                税后小计{{hc.total *1.13 |currency}}    
            </button>
            
        </div>
    
    </ion-content>
</div>
