<ion-view title="我的地址">
    <ion-header-bar frosted-bar class="bar-frosted ">
        <div class="buttons button_on_blur ">
          <button class="button    button-clear button-cm-blue" ng-click="go_back()"><_<</button>
        </div>
          <h1 class="title">新增地址</h1>
        <div class="buttons button_on_blur ">
            <button class="button   button-outline button-cm-blue "  ng-click="addButton()">+ 添加新地址</button>
        </div>
    </ion-header-bar>
    <ion-content  class="has-header hide_tabs " >
        <label class="item item-input item-icon-left">
          <i class="icon ion-ios-home cm_blue"></i>
              <search-address> </search-address>
        </label>
    </ion-content>
</ion-view>
