<ion-view title="馋猫订餐" >
  <ion-content scroll="false"
          onclick="window.open('itms://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=888553991', '_system', 'location=yes'); return false;">
            <img src="img/update.png" style='width:100%'>

        </ion-content>
        <button class="button button-right button " ng-click="action()" style="margin: 20px;position: absolute;top:0;right: 0;color:#ffffff;background-color:rgba(151,151,151,0.5);font-size: 25px;" >
            跳过
        </button>
</ion-view>
